<% if flash[:notice]  %>
  <% if flash[:is_warning] %>
    <div class="notification is-warning">
  <% elsif flash[:is_success] %>
    <div class="notification is-success">
  <% else %>
    <div class="notification">
  <% end %>
    <button class="delete"></button>
    <%= flash[:notice] %>
  </div>
  <script type="text/javascript">
    var button_delete = document.querySelector('.delete')

    button_delete.addEventListener('click', function (event) {
      var _this = this
      _this.parentNode.classList.add('is-hidden')
    })
    setTimeout(function () {
      button_delete.click()
    }, 2500)
  </script>
<% end %>